/* header.css */
.about-container {
  display: flex;
  /* border: 10px solid red; */
  width: 100%;
  height: 70vh;
  background-color: #fdfffc;
  color: black; /* 또는 color: white; */
}

/* 반응형 구현 */
@media (max-width: 1280px) {
  .about-container {
    background-size: cover;
  }
}

.content-container {
  /* border: 10px solid blue; */
  width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 32px;
  padding-right: 32px;
  /* 특정 공간을 차지하도록 설정, 예를 들어: */
}

.content {
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  margin-bottom: 30px;
  border-bottom: 1px dotted gray;
}

.section-title {
  width: 15%;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-item {
  width: 30%;
  height: 15vh;
}

.section-bottom {
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #ee6c4d;
}

.item-container {
  display: flex;
  padding-top: 15px;
}

.item-blank {
  width: 20%;
}

.item-icon {
  padding-left: 10px;
  flex-basis: 70px;
}

.text-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 8px;
}

.text-name {
  font-size: 20px;
}
