/* header.css */
.header-container {
  width: 100%;
  height: 80vh; /* 뷰포트 높이의 50% */
  background-image: url("/images/1.png");
  background-size: cover; /* 이미지가 항상 전체 요소를 덮도록 함 */
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff; /* 또는 color: white; */
}

/* 반응형 구현 */
@media (max-width: 1280px) {
  .header-container {
    background-size: cover;
  }
}

.header-container nav {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.left {
  grid-column: 1 / 2;
  /* 여기에 추가 스타일 */
}

.right {
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
