.repo-container {
  display: flex;
  /* border: 10px solid red; */
  width: 100%;
  background-color: white;
  color: black; /* 또는 color: white; */
}

.repo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  margin-top: 30px;
  border-bottom: 1px dotted silver;
}

.repo-section-title {
  width: 15%;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-bottom: 10px;
}

.section-content-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.repo-grid-item {
  background-color: white;
  border-radius: 30px;
  border: 1px solid silver;
  width: 60%;
  margin: auto; /* 가운데 정렬 */
  padding: 20px;
  /* box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2); */
  cursor: pointer;
  transition: transform 0.2s ease;
}
.repo-grid-item:hover {
  transform: translateY(-10px);
}

.repo-items-container {
  padding-left: 30px;
}

.repo-items-container > ul {
  padding: 10px;
  font-size: 20px;
}

.repo-items-container > ul > li {
  padding-bottom: 5px;
}

.repo-items-container > a {
  font-size: 28px;
  text-decoration: none;
  color: coral;
}

.repo-items-container > p {
  font-weight: bold;
  font-size: 24px;
}

.item-title {
  margin-left: 10px;
}

.item-title-notion {
  margin-left: 30px;
  padding-bottom: 20px;
}
